body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #0056b3;
}

.navbar-nav .nav-link {
  color: #555;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-toggler {
  border-color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280,123,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.authenticated .username-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.authenticated .username-link:hover {
  color: #0056b3;
}

.authenticated .avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.authenticated .avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authenticated .btn {
  margin-left: 10px;
}

.btn-outline-danger,
.btn-outline-dark {
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}
