<div class="popular-posts-container">
  <h2>Популярні Пости</h2>
  <button (click)="togglePopularPosts()">
    {{ showPopularPosts ? 'Закрити Популярні Пости' : 'Завантажити Популярні Пости' }}
  </button>
  <ng-container *ngIf="showPopularPosts">
    <div *ngIf="popularPosts.length === 0">Завантаження популярних постів...</div>
    <app-post-list 
      *ngIf="popularPosts.length > 0"
      [posts]="popularPosts" 
      [currentUserId]="currentUserId!"
      [topics]="topics"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (react)="onReact($event)"
      (addComment)="onAddComment($event)"
      (editComment)="onEditComment($event)"
      (deleteComment)="onDeleteComment($event)"
      (reactToComment)="onReactToComment($event)">
    </app-post-list>
  </ng-container>
</div>
